<%
// the gallery photos of theme _config.yml.
var gallery = theme.myGallery.data;
%>
<style>
    .bookstyle{
        height: 100%;
        width: 72% !important;
        margin: 0 3rem;
        border-radius: 10px !important;
    }
</style>
<div id="myGallery" class="my-gallery">
    <div class="title center-align" data-aos="zoom-in-up">
        <i class="fa fa-book"></i>&nbsp;&nbsp;<%- __('book') %>
    </div>
    <div class="row">
        <% if (gallery) { %>
        <% Object.keys(gallery).forEach(function(photo) { %>
        <div class="photo col s12 m6 l4 " data-aos="fade-up">
            <div class="img-item" data-src="<%- gallery[photo] %>">
                <img src="<%- url_for(gallery[photo]) %>" class="bookstyle">
            </div>
        </div>
        <% }); %>
        <% } %>
    </div>
</div>

<script>
    $(function () {
        let animateClass = 'animated pulse';
        $('#myGallery .photo').hover(function () {
            $(this).addClass(animateClass);
        }, function () {
            $(this).removeClass(animateClass);
        });
    });
</script>
